.pointer {
  cursor: pointer;
}
image {
  width: 100%;
  height: 30px;
}

.card-container {
  width: 270px;
  height: 520px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-image: url("https://img.freepik.com/free-photo/brown-fabric-motion-background_53876-98184.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img {
  margin-left: auto;
  margin-top: auto;
  height: 280px;
}

.listGroup-item {
  background-color: #f1eee9;
}

.chekout-button {
  border: none;
  color: black;
  background-color: #f0dbdb;
}
.chekout-button:hover {
  color: rgb(90, 85, 85);
}

.green {
  color: green;
}
.grey {
  color: grey;
}
@media screen and (max-width: 680px) {
  .card {
    width: 300px;
    display: flex;
    margin-top: 50%;
  }
  .kartu {
    margin-left: 30px;
  }
  .sidebar {
    width: auto;
    float: none;
  }
  .card-container {
    display: flex;
    flex-wrap: 1;
    height: 540px;
  }
}
