.container {
  padding: 30px;
  margin-top: 30px;
  border: 1px solid;
  width: 990px;
  gap: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("https://img.freepik.com/free-photo/brown-fabric-motion-background_53876-98184.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-image {
  display: flex;
  /* gap: 50px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



img {
  width: 250px;
  margin-left: 55px;
  margin-top: 15px;
}

.form {
  /* margin-right: 150px; */
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
  width: 200px;
}

.select {
  display: flex;
  gap: 10px;
  width: 350px;
}

.garis_verikal {
  border-left: 1px rgb(87, 84, 84) solid;
  height: 330px;
  width: 0px;
  opacity: 0.6;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 680px) {
  .container {
    width: 100%;
    border: 1px solid;
    /* padding: 30px;
    margin-top: 30px; */
    display: block;
  }

  .profil1{
    display: block;
  }
  .gambar {
    width: 150px;
    margin-left: 0px;
    margin-right: 400px;
    margin-top: 5%;
  }

  .garis_verikal {
    border-left: none;
  }

  .form-image {
    /* display: block; */
    margin-top: auto;
  }

  .form {
    margin-left: 0px;
    width: 170px;
  }

  .modal-header {
    background-image: url("https://img.freepik.com/free-photo/brown-fabric-motion-background_53876-98184.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
